<div
  class="box"
  style="height: 60vh; padding-top: 30px; margin: 0 auto; text-align: center;"
>
  <h1>404</h1>
  <h1>Ooops...</h1>
  <h2>Page Not Found</h2>
  <img
    src="https://res.cloudinary.com/siran-chao/image/upload/v1646425597/404-background_abyplp.jpg"
    alt="pic"
    style="height: 50%; display: block; margin: 0 auto;"
  />
</div>