<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404: Page Not Found</title>
    <style>
      .box {
        height: 40vh;
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
      }
      img {
        height: 50vh;
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h1>404</h1>
      <h1>Ooops...</h1>
      <h2>Page Not Found</h2>
    </div>
    <img
      src="https://lh3.googleusercontent.com/HUH8rVZTp3mXECpzw5PyJ9eGXlb0wtvxKte4W9WM70I0-3D91QgwwsFg2tXZALqpxtP-s5g1mvSl5Dk26WfcPaLoBkIXO5CD5SAV10GoXmKhqep8Yxjh-3dvxkwd6sSr0hNJBnpIJ42HI6n9IiYBXQv5qvM8RbSUOvCO8s2optUDHgxI1-4zFINMvQYFJlvcOPysNfN8UxtHOTnip_u0ORZE42kyz2ihh-B-pzkpdfSHqZtfPK8xu87-BXhKosNauFG4yjKxjREnqK-O_gQbeF9qLTfDbTPFVMhRKpDiNjQdXD80me99lw3bkE2Vy_X7BFh6lk6ZjAxTjZXsBW_LfeVrvOFHIH_AUXtL7f5XFelbGU4eJkN8GwOQxwu5D-c2cQkmWWU4ZHS98gJfh6XP-WOIvA14YAqYfZ0YAKK0jo4692KbMw0VkdbX_PRhSsI6cc5G5lcmJnhmQfEyIL9-QHR1_HxbDtKMobHGWYo7AXJvQ1kaPRAgOTyvo-KuVqjQYbb9d3APQYJNT5de6lcrKLxfNNKjdt5D_pRALIWxQzCSw3zFwo97zJxJRNOLRbWUeI5bGx56VfcHFdyXp6bUj2hleuJi9LB_gm2lpIcgQETPnSCxzs6V3ot5oCMkM3WV6ytjbuU7AC3fJSLTtpnye9dAp5O6g_HOI907PCpqRsVKRpWjuZYH1YFh0vRdZDvGHLgOCwDU08c64ug6oWqBQxs=w1400-h600-no?authuser=0"
      alt="pic"
    />
  </body>
</html>
