<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <br />
      <p>
        “Visual Studio Code is an open-source (free) streamlined code editor
        with support for development operations like debugging, task running and
        version control. It aims to provide just the tools a developer needs for
        a quick code-build-debug cycle and leaves more complex workflows to
        fuller featured IDEs”. Visual Studio Code also runs on Mac OS X, Linux
        and Windows operating systems, which will provide the class with a
        single unified environment to work in regardless of a student’s choice
        of laptop or home computer.
      </p>
      <br />
      <p>
        A modern web browser such as Google Chrome or Mozilla Firefox will be
        used regularly throughout this course. Internet Explorer 11 / Edge will
        work as well, as it supports a similar set of development tools, however
        due to it’s lack of plugins / addons and cross-platform support it’s not
        as highly recommended. All screenshots and development examples used
        throughout this course have been taken in Google Chrome.
      </p>
      <br />
      <p>
        Back in 1996 the JavaScript language specification was taken to Ecma
        (European Computer Manufacturers Association) International to develop a
        formal standardized specification, which other browser vendors and
        companies could implement and expand. This standardized JavaScript was
        dubbed “ECMAScript” and specific vendor versions of the specification
        were known as “dialects”, the most popular of which being “JavaScript”.
        When we refer to “JavaScript” we’re really referring to a dialect of
        ECMAScript that has been implemented in the engine / runtime environment
        that is running our JavaScript formatted code. For example, this
        includes JavaScript engines like SpiderMonkey in Firefox, v8 in Chrome,
        or Chakra in Internet Explorer.
      </p>
      <br />
      <p>
        At it’s core, Node.js is an open-source, cross-platform JavaScript
        runtime environment built on Chrome’s V8 JavaScript engine. It is
        typically used for developing server-side and networking applications
        and has recently exploded as the go-to application framework for many
        real-time web applications. This is largely due to it’s event-driven,
        non-blocking I/O model which ensures that the main thread of execution
        is not kept waiting for slow I/O operations (ie: stopping and waiting
        for a database query to complete). Some major companies using it include
        Paypal, eBay, GoDaddy, Heroku, Microsoft, Shutterstock, Uber, Wikia just
        to name a few.
      </p>
      <br />
      <p>
        “jQuery is a fast, small, and feature-rich JavaScript library. It makes
        things like HTML document traversal and manipulation, event handling,
        animation, and Ajax much simpler with an easy-to-use API that works
        across a multitude of browsers. With a combination of versatility and
        extensibility, jQuery has changed the way that millions of people write
        JavaScript.”
      </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>
      The section is still under develop, new features will coming soon! Thank
      you
    </p>
  </aside>
</div>